<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" id='button1' (click)="onlyOdd = !onlyOdd">Only show odd
        numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li class="list-group-item" *ngFor="let number of oddNumbers"
          [ngClass]="{oddNumbers: number % 2 !== 0}"
          [ngStyle]="{backgroundColor: number % 2 == 0 ? 'aqua' : 'yellow'}">{{number }}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li class="list-group-item" *ngFor="let number of evenNumbers"
          [ngClass]="{oddNumbers: number % 2 !== 0}"
          [ngStyle]="{backgroundColor: number % 2 == 0 ? 'aqua' : 'yellow'}">{{ number }}
          </li>
        </div>
        <li appHighlight>Custom directive Test</li>
      </ul>
    </div>
  </div>
</div>
