<h3 id="a1">This is server component.</h3>


<label>String Manipulation</label>
<p>{{ 'Server'}} with id {{ serverId }} is {{ getServerStatus() }}.</p>


<label>Property Binding & Event Binding:</label>
<br>
<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer" 
    (click)="onServerCreation()">Add Server</button>

<p>{{ serverCreationStatus }}</p>

<p>{{ allowNewServer }}</p>     <!-- String Interpolation: -->
<p [innerText]="allowNewServer"></p>        <!-- Property Binding: -->

<input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)">
<p>{{ serverName }}</p>

<hr>
<label>Two way data-binding:</label>
<br>
<input
    type="text"
    class="form-control"
    [(ngModel)]="serverName">

<hr>
<label>Directives (ngif):</label>
<br>
<input 
    type="text" 
    class="form-control" 
    [(ngModel)]="serverName1">
<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer" 
    (click)="onAddServer()">Add Server</button>

<p *ngIf="hiding">Server was created with server name {{ serverName1 }}</p>

<hr>
<label>Directives (ngstyles) (ngClass):</label>
<br>
<p 
    [ngStyle]="{backgroundColor: getColor()}"
    [ngClass]="{online: serverStatus === 'online'}">Server with name {{ serverName1 }} is {{ getServerStatus() }}.</p>