<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h4>Create a Form with the following Controls and Validators.</h4>
      <ol>
        <li>Project Name (should not be empty)</li>
        <li>Mail (should not be a empty and a valid email)</li>
        <li>
          Project Status Dropdown, with three values: 'Stable', 'Critical',
          'Finished'
        </li>
        <li>Submit Button</li>
      </ol>
      <h4>Features:</h4>
      <ol>
        <li>
          Add your own Validator which doesn't allow "Test" as a Project Name.
        </li>
        <li>
          Also implement that Validator as an async Validator (replace the other
          one).
        </li>
        <li>
          Upon submitting the form, simply print the value to the console.
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div
      class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"
      id="form-container"
    >
      <form (ngSubmit)="onSubmit()" [formGroup]="projectStatusForm">
        <div class="form-group">
          <label for="name">Project Name:</label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="projectName"
          />
          <span
            class="help-block"
            *ngIf="
              !projectStatusForm.get('projectName').valid &&
              projectStatusForm.get('projectName').touched
            "
            ><span
              *ngIf="projectStatusForm.get('projectName').errors['required']"
              >Project Name can not be empty.</span
            ><span
              *ngIf="
                projectStatusForm.get('projectName').errors[
                  'projectNameIsForbidden'
                ]
              "
              >Entered Name is Forbidden.</span
            >
          </span>
        </div>
        <div class="form-group">
          <label for="email">Email-id:</label>
          <input
            type="text"
            id="email"
            class="form-control"
            formControlName="email"
          />
          <span
            class="help-block"
            *ngIf="
              !projectStatusForm.get('email').valid &&
              projectStatusForm.get('email').touched
            "
            ><span *ngIf="projectStatusForm.get('email').errors['required']"
              >Email can not be empty.</span
            ><span
              *ngIf="projectStatusForm.get('email')?.errors?.emailIsForbidden"
              >Entered email-id is Forbidden.</span
            ><span *ngIf="projectStatusForm.get('email').errors['email']"
              >Please enter proper email-id.</span
            >
          </span>
        </div>
        <div class="form-group">
          <label for="status">Project Status:</label>
          <select
            class="form-control"
            formControlName="projectStatus"
          >
            <option *ngFor="let stat of status" [value]="stat">
              {{ stat }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Submit</button>
          <button class="btn btn-link" type="button" (click)="onReset()">
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
