<div class="col-xs-12">
  <p>Add new Servers or blueprints!</p>
  <label for="server-name">Server Name</label>
  <!-- Two way binding (ngModel)) -->
  <input
    type="text"
    id="server-name"
    class="form-control"
    [(ngModel)]="newServerName"
  />
  <label for="server-content">Server Content</label>
  <!-- Local reference (An alternate of Two way binding (ngModel)) -->
  <input
    type="text"
    id="server-content"
    class="form-control"
    #serverContentInput
  />
  <label for="server-details">Server Details</label>
  <!-- Local reference with ViewChild (An alternate of Two way binding (ngModel)) -->
  <input
    type="text"
    id="server-details"
    class="form-control"
    #serverDetailsInput
  />
  <br />
  <button
    type="button"
    class="btn btn-primary form-group"
    (click)="onAddServer(serverContentInput)"
  >
    Add Server
  </button>
  <button
    type="button"
    class="btn btn-primary form-group"
    (click)="onAddBlueprint(serverContentInput)"
  >
    Add Server Blueprint
  </button>
</div>
